.lightbox
{
	position:fixed;
	z-index:99;
    display:none;
	width:80%;
	min-height:80%;
	top: 10%;
	left:10%;
	background:rgb(0,0,0,0.5);
	overflow-y: scroll;
}
.text-header{
	margin-bottom: 3%;
}
.box-header{
	width: 75%;
	color: black;
	margin: auto;
	border-radius: 20px;
	background-color: rgba(32, 29, 29, 0.1);  
	backdrop-filter: blur(5px);
	padding-bottom: 20px;
	padding-top: 20px;
}
.header{
	width: 122%;
	height: 40%;
	margin-left: -11%;
	padding-top: 15%;
	border-radius: 50px;
}
.for-back-img{
	background-image:url(../../img/back.jpg);
	background-size: cover;
}
.put-com-session{
	position: absolute;
	width: 100%;
	min-height: 100%;
}
