.lightbox
{
	position:fixed;
	z-index:99;
    display:none;
	width:80%;
	min-height:80%;
	top: 10%;
	left:10%;
	background:rgb(0,0,0,0.5);
	overflow-y: scroll;
}
.text-header{
	margin-bottom: 3%;
}
.box-header{
	width: 75%;
	margin: auto;
	border-radius: 20px;
	background-color: rgba(255, 255, 255, .1);  
	backdrop-filter: blur(5px);
}
.header{
	background-image:linear-gradient(to bottom, transparent 0%, black 100%), url(../../img/back.jpg);
	background-size: cover;
	width: 122%;
	height: 80%;
	margin-left: -11%;
	padding-top: 15%;
}
.for-back-img{
	background-image:url(../../img/back4.jpg);
	background-size: cover;
}
.put-com-session{
	position: absolute;
	width: 100%;
	min-height: 100%;
}
