// Footer
footer.page-footer.font-small.teal.pt-4(style="position: absolute; bottom: 0; width: 80%; height: 0.5rem;")
  // Copyright
  .footer-copyright.text-center.py-3
    | &copy; 2020 TTCN, footer designed by:
    a(href='https://www.facebook.com/tue.truonganh/')  Tue hihi
  // Copyright
// Footer
